@{
    Layout = "~/Views/Shared/layout2.cshtml";
}

@model Laundry.Models.User
<style>
    span {
        color: red;
        float: left;
    }
</style>
<!-- Hero Start -->
<div class="container-fluid bg-primary py-5 hero-header mb-5">
    <div class="row py-3">
        <div class="col-12 text-center">
            <h1 class="display-3 text-white animated zoomIn">Profile</h1>
            <a href="" class="h4 text-white">Home</a>
            <i class="far fa-circle text-white px-2"></i>
            <a href="" class="h4 text-white">Profile</a>
        </div>
    </div>
</div>
<!-- Hero End -->
<!-- Appointment Start -->
<div class="container-fluid bg-primary bg-appointment mb-5 wow fadeInUp" data-wow-delay="0.1s" style="margin-top: 90px;">
    <div class="container">
        <div class="row gx-5">
            @* <div class="col-lg-6 py-5"> *@
            @*     <div class="py-5"> *@
            @*         <h1 class="display-5 text-white mb-4">@Model.Seminar.Title</h1> *@
            @*         <p class="text-white mb-0">@Model.Seminar.Description</p> *@
            @*     </div> *@
            @* </div> *@
            <div class="col-lg-12">
                <div class="appointment-form h-100 d-flex flex-column justify-content-center text-center p-5 wow zoomIn" data-wow-delay="0.6s">
                    <h1 class="text-white mb-4">Your Profile</h1>
                    <form asp-controller="Home" asp-action="Profile" method="post">
                        <input type="hidden" asp-for="Id" value="@accessor.HttpContext.Session.GetString("id")" />
                        <div class="row g-3">
                            <div class="col-12 col-sm-12">
                                <input type="text" asp-for="Name" value="@accessor.HttpContext.Session.GetString("name")" class="form-control bg-light border-0" placeholder="Your Name" style="height: 55px;">
                                <span asp-validation-for="Name"></span>
                            </div>
                            <div class="col-12 col-sm-12">
                                <input type="email" asp-for="Email" value="@accessor.HttpContext.Session.GetString("email")" class="emailField form-control bg-light border-0" placeholder="Your Email" style="height: 55px;">
                                <span class="email_validation text-danger"></span>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <div class="col-12 col-sm-12">
                                <input type="number" asp-for="Phone" value="@accessor.HttpContext.Session.GetString("phone")" class="form-control bg-light border-0" placeholder="Your Phone" style="height: 55px;">
                                <span asp-validation-for="Phone"></span>
                            </div>

                            <div class="col-12 col-sm-12">
                                <input type="password" asp-for="Password" class="form-control bg-light border-0" placeholder="Your Password (Leave Empty If No Change)" style="height: 55px;">
                                <span asp-validation-for="Password"></span>
                            </div>

                            <div class="col-12">
                                <button type="submit" id="checkout-button" class="btn btn-dark w-100 py-3">
                                    Update
                                </button>
                            </div>


                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Appointment End -->
